:root{
    --d1:#C889B5;
    --d2:#744B93;
    --d3:#FCE5CC;
    --d4:#736EAE;
    --d5:#F0F0F0;
}
.stock_design{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.stock_label{
    width:fit-content;
    height: auto;
    padding:3px;
    background-color: var(--d3);
    cursor: pointer;
}
.stock_am{
    width:100%;
    height: auto;
    padding:5px;
    background-color: var(--d5);
    color: black;
}
.card_design{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: var(--d1);
    max-width: fit-content;
    min-width: 196px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    flex-shrink: 0;
}
.image{
    width: 100%;
    height: 50%;
    flex:1;

}

.image_design {
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}
.form_design_{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1;
    
    
    
}


.h3_{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.label_{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.label_ input{
    width: 50%;
    padding: 3px;
}
.bt_1_{
    width:fit-content;
    height: max-content;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 10px;
}

.bt_1_ button{
    
    width: 15vh;
    border-radius: 20px;
    background-color: var(--d3);
    margin-top: 8px;

}

.bt_1_ button:hover{
    cursor: pointer;
    background-color:var(--d4) ;
}